<script data-id="{{product.id}}" data-handle="{{product.handle}}" id="gs-collection-script-{{product.id}}" class="gs-collection-script">
	GSCollection[{{product.id}}] = {{ product | json }};
</script>
<span class="gs-content"></span>
