{% for block in section.blocks %}
  {% case block.type %}
	{% when 'text1' %}
    {%- case block.settings.left_css_animations -%}
    {% when '1' %}
    {%- assign css_animations_class_left = '' -%}
    {% when '2' %}
    {%- assign css_animations_class_left = 'wow fadeIn' -%}
    {% when '3' %}
    {%- assign css_animations_class_left = 'wow fadeInDown' -%}
    {% when '4' %}
    {%- assign css_animations_class_left = 'wow fadeInDownBig' -%}
    {% when '5' %}
    {%- assign css_animations_class_left = 'wow fadeInLeft' -%}
    {% when '6' %}
    {%- assign css_animations_class_left = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    {%- assign css_animations_class_left = 'wow fadeInRight' -%}
    {% when '8' %}
    {%- assign css_animations_class_left = 'wow fadeInRightBig' -%}
    {% when '9' %}
    {%- assign css_animations_class_left = 'wow fadeInUp' -%}
    {% when '10' %}
    {%- assign css_animations_class_left = 'wow fadeInDown' -%}
    {% when '11' %}
    {%- assign css_animations_class_left = 'wow fadeInUpBig' -%}
    {%- endcase -%}

    {%- case block.settings.right_css_animations -%}
    {% when '1' %}
    {%- assign css_animations_class_right = '' -%}
    {% when '2' %}
    {%- assign css_animations_class_right = 'wow fadeIn' -%}
    {% when '3' %}
    {%- assign css_animations_class_right = 'wow fadeInDown' -%}
    {% when '4' %}
    {%- assign css_animations_class_right = 'wow fadeInDownBig' -%}
    {% when '5' %}
    {%- assign css_animations_class_right = 'wow fadeInLeft' -%}
    {% when '6' %}
    {%- assign css_animations_class_right = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    {%- assign css_animations_class_right = 'wow fadeInRight' -%}
    {% when '8' %}
    {%- assign css_animations_class_right = 'wow fadeInRightBig' -%}
    {% when '9' %}
    {%- assign css_animations_class_right = 'wow fadeInUp' -%}
    {% when '10' %}
    {%- assign css_animations_class_right = 'wow fadeInDown' -%}
    {% when '11' %}
    {%- assign css_animations_class_right = 'wow fadeInUpBig' -%}
    {%- endcase -%}
    <div class="custom-block-column wow fadeIn" {% if block.settings.margin != blank %}style="margin: {{ block.settings.margin }};"{% endif %}>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 {{ css_animations_class_left }}">
            {% if block.settings.title != blank %}
            <div class="title-block-small">{{ block.settings.title }}</div>
            {% endif %}
            {% if block.settings.heading != blank %}
            <h2>{{ block.settings.heading }}</h2>
            {% endif %}
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 {{ css_animations_class_right }}">
            {% if block.settings.text != blank %}
            {{ block.settings.text }}
            {% endif %}
            {% if block.settings.name != blank %}
            <div class="name-black">{{ block.settings.name }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% when 'text2' %}
    {%- case block.settings.css_animations -%}
    {% when '1' %}
    {%- assign css_animations_class = '' -%}
    {% when '2' %}
    {%- assign css_animations_class = 'wow fadeIn' -%}
    {% when '3' %}
    {%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '4' %}
    {%- assign css_animations_class = 'wow fadeInDownBig' -%}
    {% when '5' %}
    {%- assign css_animations_class = 'wow fadeInLeft' -%}
    {% when '6' %}
    {%- assign css_animations_class = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    {%- assign css_animations_class = 'wow fadeInRight' -%}
    {% when '8' %}
    {%- assign css_animations_class = 'wow fadeInRightBig' -%}
    {% when '9' %}
    {%- assign css_animations_class = 'wow fadeInUp' -%}
    {% when '10' %}
    {%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '11' %}
    {%- assign css_animations_class = 'wow fadeInUpBig' -%}
    {%- endcase -%}
	<div class="g-contact-social {{ css_animations_class }}" {% if block.settings.margin != blank %}style="margin: {{ block.settings.margin }};"{% endif %}>
      <div class="container">
        <div class="row">
          {% if block.settings.text_phone != blank %}
          <div class="col-md-3 col-sm-4 col-xs-12 col-g-contact">
            <i class="fa fa-phone" aria-hidden="true"></i>{{ block.settings.text_phone }}
          </div>
          {% endif %}
          {% if block.settings.text_email != blank %}
          <div class="col-md-2 col-sm-4 col-xs-12 col-g-contact">
            <i class="fa fa-envelope" aria-hidden="true"></i>{{ block.settings.text_email }}
          </div>
          {% endif %}
          <div class="col-md-7 col-sm-4 col-xs-12">
            <div class="social-media-link style-default pull-right">
              {% if block.settings.text_label != blank %}
              <label>{{ block.settings.text_label }}</label>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
              <a href="{{ settings.social_facebook_link | escape }}" class="facebook" title="Facebook" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
              <a href="{{ settings.social_twitter_link | escape }}" class="twitter" title="Twitter" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
              <a href="{{ settings.social_pinterest_link | escape }}" class="pinterest" title="Pinterest" target="_blank" rel="nofollow"><i class="fa fa-pinterest-p"></i></a>
              {% endif %}
              {% if settings.social_instagram_link != blank %}
              <a href="{{ settings.social_instagram_link | escape }}" class="instagram" title="Instagram" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a>
              {% endif %}
              {% if settings.social_behance_link != blank %}
              <a href="{{ settings.social_behance_link | escape }}" class="behance" title="Behance" target="_blank" rel="nofollow"><i class="fa fa-behance"></i></a>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
              <a href="{{ settings.social_tumblr_link | escape }}" class="tumblr" title="Tumblr" target="_blank" rel="nofollow"><i class="fa fa-tumblr"></i></a>
              {% endif %}
              {% if settings.social_snapchat_link != blank %}
              <a href="{{ settings.social_snapchat_link | escape }}" class="snapchat" title="Snapchat" target="_blank" rel="nofollow"><i class="fa fa-snapchat"></i></a>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
              <a href="{{ settings.social_youtube_link | escape }}" class="youtube" title="Youtube" target="_blank" rel="nofollow"><i class="fa fa-youtube"></i></a>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
              <a href="{{ settings.social_vimeo_link | escape }}" class="vimeo" title="Vimeo" target="_blank" rel="nofollow"><i class="fa fa-vimeo"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
	</div>
	{% when 'text3' %}
    {%- case block.settings.css_animations -%}
    {% when '1' %}
    {%- assign css_animations_class = '' -%}
    {% when '2' %}
    {%- assign css_animations_class = 'wow fadeIn' -%}
    {% when '3' %}
    {%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '4' %}
    {%- assign css_animations_class = 'wow fadeInDownBig' -%}
    {% when '5' %}
    {%- assign css_animations_class = 'wow fadeInLeft' -%}
    {% when '6' %}
    {%- assign css_animations_class = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    {%- assign css_animations_class = 'wow fadeInRight' -%}
    {% when '8' %}
    {%- assign css_animations_class = 'wow fadeInRightBig' -%}
    {% when '9' %}
    {%- assign css_animations_class = 'wow fadeInUp' -%}
    {% when '10' %}
    {%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '11' %}
    {%- assign css_animations_class = 'wow fadeInUpBig' -%}
    {%- endcase -%}
	<div class="g-text-menu-social {{ css_animations_class }}" {% if block.settings.margin != blank %}style="margin: {{ block.settings.margin }};"{% endif %}>
      <div class="container-full">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            {% if block.settings.title != blank %}
            <div class="title">{{ block.settings.title }}</div>
            {% endif %}
            {% if block.settings.heading != blank %}
            <h2 class="heading-72">{{ block.settings.heading }}</h2>
            {% endif %}
            {% if block.settings.text != blank %}
            <p class="font-size-18">{{ block.settings.text }}</p>
            {% endif %}
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="s-menu-h9 clearfix">
              {%- for link in linklists[block.settings.menu].links -%}
              	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {%- endfor -%}
            </ul>
            <div class="social-media-link style-default s-social-h9">
              {% if block.settings.text_label != blank %}
              <label>{{ block.settings.text_label }}</label>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
              <a href="{{ settings.social_facebook_link | escape }}" class="facebook" title="Facebook" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
              <a href="{{ settings.social_twitter_link | escape }}" class="twitter" title="Twitter" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
              <a href="{{ settings.social_pinterest_link | escape }}" class="pinterest" title="Pinterest" target="_blank" rel="nofollow"><i class="fa fa-pinterest-p"></i></a>
              {% endif %}
              {% if settings.social_instagram_link != blank %}
              <a href="{{ settings.social_instagram_link | escape }}" class="instagram" title="Instagram" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a>
              {% endif %}
              {% if settings.social_behance_link != blank %}
              <a href="{{ settings.social_behance_link | escape }}" class="behance" title="Behance" target="_blank" rel="nofollow"><i class="fa fa-behance"></i></a>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
              <a href="{{ settings.social_tumblr_link | escape }}" class="tumblr" title="Tumblr" target="_blank" rel="nofollow"><i class="fa fa-tumblr"></i></a>
              {% endif %}
              {% if settings.social_snapchat_link != blank %}
              <a href="{{ settings.social_snapchat_link | escape }}" class="snapchat" title="Snapchat" target="_blank" rel="nofollow"><i class="fa fa-snapchat"></i></a>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
              <a href="{{ settings.social_youtube_link | escape }}" class="youtube" title="Youtube" target="_blank" rel="nofollow"><i class="fa fa-youtube"></i></a>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
              <a href="{{ settings.social_vimeo_link | escape }}" class="vimeo" title="Vimeo" target="_blank" rel="nofollow"><i class="fa fa-vimeo"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
	</div>
    {% endcase %}
{% endfor %}
<div class="clearfix"></div>
{% schema %}
  {
    "name": "Custom text columns",
    "class": "globo_text_columns",
    "blocks": [
      {
        "type": "text1",
        "name": "Text block columns",
        "settings": [
          {
            "type": "select",
            "id": "left_css_animations",
            "label": "Left CSS Animation",
            "options": [
              { "value": "1", "label": "None" },
              { "value": "2", "label": "fadeIn" },
              { "value": "3", "label": "fadeInDown" },
              { "value": "4", "label": "fadeInDownBig" },
              { "value": "5", "label": "fadeInLeft" },
              { "value": "6", "label": "fadeInLeftBig" },
              { "value": "7", "label": "fadeInRight" },
              { "value": "8", "label": "fadeInRightBig" },
              { "value": "9", "label": "fadeInUp" },
              { "value": "10", "label": "fadeInDown" },
              { "value": "11", "label": "fadeInUpBig" }
            ],
            "default": "5"
          },
          {
            "type": "select",
            "id": "right_css_animations",
            "label": "Right CSS Animation",
            "options": [
              { "value": "1", "label": "None" },
              { "value": "2", "label": "fadeIn" },
              { "value": "3", "label": "fadeInDown" },
              { "value": "4", "label": "fadeInDownBig" },
              { "value": "5", "label": "fadeInLeft" },
              { "value": "6", "label": "fadeInLeftBig" },
              { "value": "7", "label": "fadeInRight" },
              { "value": "8", "label": "fadeInRightBig" },
              { "value": "9", "label": "fadeInUp" },
              { "value": "10", "label": "fadeInDown" },
              { "value": "11", "label": "fadeInUpBig" }
            ],
            "default": "7"
          },
          {
            "type": "text",
            "id": "margin",
            "label": "Margin: (top-right-bottom-left)",
            "info": "Ex: 10px 0 30px 0"
          },
          {
            "type": "header",
            "content": "Left content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "HISTORY SINCE 1998"
          },
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading",
            "default": "Welcome to Hebes<br />Store - Amazing<br />furniture"
          },
          {
            "type": "header",
            "content": "Right content"
          },
          {
            "type": "html",
            "id": "text",
            "label": "Text",
            "default": "<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <strong>Suspendisse faucibus<\/strong> sed dolor eget posuere. Sed id interdum urna faucibus sed dolor eget posuere.<\/p><p>Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet dolor eget posuere.<\/p>"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "<span>JONT HENRRY<\/span> - CEO"
          }
        ]
      },
      {
        "type": "text2",
        "name": "Contact & Social",
        "settings": [
          {
            "type": "select",
            "id": "css_animations",
            "label": "CSS Animation",
            "options": [
              { "value": "1", "label": "None" },
              { "value": "2", "label": "fadeIn" },
              { "value": "3", "label": "fadeInDown" },
              { "value": "4", "label": "fadeInDownBig" },
              { "value": "5", "label": "fadeInLeft" },
              { "value": "6", "label": "fadeInLeftBig" },
              { "value": "7", "label": "fadeInRight" },
              { "value": "8", "label": "fadeInRightBig" },
              { "value": "9", "label": "fadeInUp" },
              { "value": "10", "label": "fadeInDown" },
              { "value": "11", "label": "fadeInUpBig" }
            ],
            "default": "2"
          },
          {
            "type": "text",
            "id": "margin",
            "label": "Margin: (top-right-bottom-left)",
            "info": "Ex: 10px 0 30px 0"
          },
          {
            "type": "text",
            "id": "text_phone",
            "label": "Phone",
            "default": "Phone: (034) 334 55634"
          },
          {
            "type": "text",
            "id": "text_email",
            "label": "Email",
            "default": "<a href='#'>Get in touch<\/a>"
          },
          {
            "type": "text",
            "id": "text_label",
            "label": "Social label",
            "default": "Follow us:"
          }
        ]
      },
      {
        "type": "text3",
        "name": "Text, Menu & Social",
        "settings": [
          {
            "type": "select",
            "id": "css_animations",
            "label": "CSS Animation",
            "options": [
              { "value": "1", "label": "None" },
              { "value": "2", "label": "fadeIn" },
              { "value": "3", "label": "fadeInDown" },
              { "value": "4", "label": "fadeInDownBig" },
              { "value": "5", "label": "fadeInLeft" },
              { "value": "6", "label": "fadeInLeftBig" },
              { "value": "7", "label": "fadeInRight" },
              { "value": "8", "label": "fadeInRightBig" },
              { "value": "9", "label": "fadeInUp" },
              { "value": "10", "label": "fadeInDown" },
              { "value": "11", "label": "fadeInUpBig" }
            ],
            "default": "2"
          },
          {
            "type": "text",
            "id": "margin",
            "label": "Margin: (top-right-bottom-left)",
            "info": "Ex: 10px 0 30px 0"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "WELCOME TO HEBES STORE"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Furniture Store<br><span>Amazing products<\/span>"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Unique Design, Great Products. The perfect choice for you. Please choose a collections<br>product than you love here."
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Add menu"
          },
          {
            "type": "text",
            "id": "text_label",
            "label": "Social label",
            "default": "Follow us:"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom text columns",
        "category": "Text",
        "blocks": [
          { 
            "type": "text1"
          }
        ]
      }
    ]
  }
{% endschema %}
